@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

:root {
    --darkblue: #0a192f;
    --lightblue: #64ffda;
    --fontcolor: #c1cae9;
    --hovercolor: #133040;
    --iconColor: #a8b2d1;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #53535a;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.7rem;
}

  /* *::-webkit-scrollbar-track {
    background: #c1c4cd;
  } */

  *::-webkit-scrollbar-thumb {
    background-color: #53535a;
    border-radius: 1rem;
}