@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

:root {
    --darkblue: #0a192f;
    --lightblue: #64ffda;
    --fontcolor: #c1cae9;
    --hovercolor: #133040;
    --iconColor: #a8b2d1;
}

html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--darkblue);
}